# ASSIGNMENT 8
### PANDAS
##### QUES1 - What is Pandas and how does it differ from NumPy? What are its main data structures? Coding Challenge:  Create a Pandas DataFrame from a dictionary of lists and print the first few rows of the DataFrame.
##### ANS1 - Pandas: Powerful Python library for data manipulation and analysis.
##### Built on top of NumPy.
##### Main data structures: Series: 1D labeled array. || DataFrame: 2D labeled table (rows & columns).

In [64]:
import pandas as pd 
import numpy as np

In [65]:
# Create DataFrame from dictionary
dt = {
    'Name': ["A", "B", "C","D","E","F","G","H","I","J","K","L","M"],
    'Age': [25, 30, 35, 40, 23, 45,  67, 34, 55, 66, 25, 44, 65],
    'City': ["New York", "Paris", "London", "Canada", "Singapore", "Berlin","Tokyo","Rome","Dubai","Sydney","Moscow","Barcelona","Hong Kong"]
}
df = pd.DataFrame(dt)
print(df.head())

  Name  Age       City
0    A   25   New York
1    B   30      Paris
2    C   35     London
3    D   40     Canada
4    E   23  Singapore

##### QUES2 - How can you read and write data to various file formats (e.g., CSV, Excel) using Pandas? Coding Challenge:  Write a Python script that reads data from a CSV file into a Pandas DataFrame, performs some basic data cleaning, and then writes the cleaned data to a new Excel file.
##### ANS2 - pd.read_csv(), pd.read_excel() to read.
##### df.to_csv(), df.to_excel() to write.

In [66]:
# Read CSV (example: 'tip.csv' must exist)
df = pd.read_csv("Used_Bikes.csv")

# Basic cleaning: drop rows with NaN
df_clean = df.dropna()

# Write to Excel
df_clean.to_excel('cleaned_Used_Bikes.xlsx', index=False)

##### QUES3 - What are some common methods for indexing and selecting data in a Pandas DataFrame? How do they differ from traditional indexing methods? Coding Challenge:  Create a Pandas DataFrame and demonstrate how to select specific rows and columns using ".loc[]", ".iloc[]", and boolean indexing.
##### ANS3 - .loc[] — label-based
##### .iloc[] — integer position-based
##### Boolean indexing — condition-based

In [67]:
data = {
    'Name': ["A", "B", "C", "D"],
    'Age': [25, 30, 35, 40],
    'City': ["New York", "Paris", "London", "Tokyo"]
}
df = pd.DataFrame(data)

# loc
print(df.loc[1:2, ["Name", "Age"]])

# iloc
print(df.iloc[0:2, 0:2])

# Boolean indexing
print(df[df["Age"] > 30])

  Name  Age
1    B   30
2    C   35
  Name  Age
0    A   25
1    B   30
  Name  Age    City
2    C   35  London
3    D   40   Tokyo

##### QUES4 - How can you handle missing data in a Pandas DataFrame? What methods are available for filling or dropping missing values? Coding Challenge:  Create a DataFrame with some missing values and use methods like "fillna()" and "dropna()" to handle these missing values.
##### ANS4 - fillna() — fill missing values.
##### dropna() — drop rows/columns with missing values.

In [68]:
data = {
    'A': [1, np.nan, 3],
    'B': [4, 5, np.nan]
}

df = pd.DataFrame(data)

# Fill NaN with value
print(df.fillna(0))

# Drop rows with NaN
print("\n",df.dropna())

     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

      A    B
0  1.0  4.0

##### QUES5 - Explain how to perform data aggregation and grouping in Pandas. What functions can be used to compute aggregate statistics? Coding Challenge:  Create a DataFrame with multiple groups of data and use the ".groupby()" method to calculate the mean and sum of each group.
##### ANS5 - groupby() groups data.
##### Use .mean(), .sum() for stats.

In [69]:
dt = {
    'Category': ['A', 'A', 'B', 'B'],
    'Value': [10, 20, 30, 40]
}

df = pd.DataFrame(dt)

grouped = df.groupby('Category').agg(['mean', 'sum'])
print(grouped)

         Value
          mean sum
Category
A         15.0  30
B         35.0  70

##### QUES6 - How can you merge, join, or concatenate multiple DataFrames in Pandas? What are the differences between these operations? Coding Challenge:  Create two DataFrames and demonstrate how to merge them using "merge()", join them using "join()", and concatenate them using "concat()".
##### ANS6 - merge(): SQL-style joins.
##### join(): Join on index or keys.
##### concat(): Stack along an axis.

In [70]:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['A', 'B']})
df2 = pd.DataFrame({'ID': [1, 2], 'Age': [25, 30]})

# Merge
merged = pd.merge(df1, df2, on='ID')
print("Merged:\n", merged)

# Join
df1 = df1.set_index('ID')
df2 = df2.set_index('ID')
joined = df1.join(df2)
print("Joined:\n", joined)

# Concatenate
concatenated = pd.concat([df1, df2], axis=1)
print("Concatenated:\n", concatenated)

Merged:
    ID Name  Age
0   1    A   25
1   2    B   30
Joined:
    Name  Age
ID
1     A   25
2     B   30
Concatenated:
    Name  Age
ID
1     A   25
2     B   30

##### QUES7 - What are Pandas "pivot_table" and "crosstab" functions, and how can they be used to summarize and analyze data? Coding Challenge:  Write a Python script that creates a DataFrame and uses "pivot_table()" to summarize data by different categories. Also, use "crosstab()" to create a cross-tabulation of two categorical variables.
##### ANS7 - pivot_table() — summarizes data.
##### crosstab() — frequency table of 2 variables.

In [71]:
dt = {
    'Category': ['A', 'A', 'B', 'B'],
    'Type': ['X', 'Y', 'X', 'Y'],
    'Value': [10, 20, 30, 40]
}

df = pd.DataFrame(dt)

# Pivot table
pivot = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='sum')
print("Pivot Table:\n", pivot)

# Crosstab
ct = pd.crosstab(df['Category'], df['Type'])
print("Crosstab:\n", ct)

Pivot Table:
 Type       X   Y
Category
A         10  20
B         30  40
Crosstab:
 Type      X  Y
Category
A         1  1
B         1  1

##### QUES8 - How can you apply custom functions to columns or rows in a Pandas DataFrame? What functions or methods facilitate this? Coding Challenge:  Create a DataFrame and use the ".apply()" method to apply a custom function to each element in a column.
##### ANS8 - apply() applies a function to rows/columns.

In [72]:
df = pd.DataFrame({
    'Number': [1, 2, 3, 4, 5]
})

# Square each number
df['Squared'] = df['Number'].apply(lambda x: x ** 2)
print(df)

   Number  Squared
0       1        1
1       2        4
2       3        9
3       4       16
4       5       25

##### QUES9 - Explain how to sort and filter data in a Pandas DataFrame. What methods can be used to sort data by one or more columns, and how can you filter rows based on conditions? Coding Challenge:  Write a Python script that sorts a DataFrame by multiple columns and filters rows based on a specific condition.
##### ANS9 - sort_values(), sort_index()
##### Filter: conditions

In [73]:
df = pd.DataFrame({
    'Name': ['A', 'B', 'C'],
    'Age': [25, 30, 20],
    'Score': [85, 90, 95]
})

# Sort by Age then Score
sorted_df = df.sort_values(by=['Age', 'Score'], ascending=[True, False])
print("Sorted:\n", sorted_df)

# Filter Age > 21
filtered_df = df[df['Age'] > 21]
print("Filtered:\n", filtered_df)

Sorted:
   Name  Age  Score
2    C   20     95
0    A   25     85
1    B   30     90
Filtered:
   Name  Age  Score
0    A   25     85
1    B   30     90

##### QUES10 - How can you handle and process categorical data in Pandas? What methods or functions can be used to encode and decode categorical variables? Coding Challenge:  Create a DataFrame with a categorical column (e.g., "Category") and use Pandas methods like "pd.get_dummies()" to convert categorical variables into numerical format. Then, demonstrate how to reverse the encoding using the ".astype('category')" method
##### ANS10 - get_dummies() — one-hot encoding.
##### .astype('category') — categorical type.

In [74]:
df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'C']
})

# Encode
dummies = pd.get_dummies(df['Category'])
print("Dummies:\n", dummies)

# Reverse to category
df['Category'] = df['Category'].astype('category')
print("Category dtype:\n", df['Category'])

Dummies:
        A      B      C
0   True  False  False
1  False   True  False
2   True  False  False
3  False  False   True
Category dtype:
 0    A
1    B
2    A
3    C
Name: Category, dtype: category
Categories (3, object): ['A', 'B', 'C']