## PANDAS(pd)
##### Pandas is a Python library used for working with data sets.
##### It has functions for analyzing, cleaning, exploring, and manipulating data.

In [38]:
## csv
## series ---> it is a 1D labelled array capable of holding only any data type
## dataframe ---> it is a 2D labelled data structure
## basically a table with rows and column 
import pandas as pd 
df = pd.read_csv("Used_Bikes.csv")
df = pd.read_csv(r"C:\Users\KHUSHI GUPTA\OneDrive\Desktop\45days-data-science-training\library\Used_Bikes.csv")
df
type(df)

pandas.core.frame.DataFrame

In [39]:
dt = {"name":["a","b","c"],
    "marks":[1,2,3],
    "age":[1,2,3]} 

df1 = pd.DataFrame(dt)
df1

  name  marks  age
0    a      1    1
1    b      2    2
2    c      3    3

In [40]:
import numpy as np 
arr = np.arange(60).reshape(10,6)
arr

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41],
       [42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59]])

In [41]:
df2 = pd.DataFrame(arr, columns = ["a","b","c","d","e","f"])
df2

    a   b   c   d   e   f
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35
6  36  37  38  39  40  41
7  42  43  44  45  46  47
8  48  49  50  51  52  53
9  54  55  56  57  58  59

In [42]:
df.head()  ## default show 5 arguments
df.tail()

df.head(20)  ## given number 
df.tail(10)

,bike_name,price,city,kms_driven,owner,age,power,brand
32638,Yamaha Fazer 25 250cc,123000.0,Kadapa,14500.0,First Owner,4.0,250.0,Yamaha
32639,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield
32640,Hero Passion Pro 100cc,32000.0,Delhi,12000.0,First Owner,6.0,100.0,Hero
32641,Bajaj Avenger 220cc,41000.0,Delhi,20245.0,Second Owner,11.0,220.0,Bajaj
32642,Hero Passion 100cc,15000.0,Perumbavoor,35000.0,Second Owner,19.0,100.0,Hero
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [43]:
df["bike_name"]
## to fetch particular column from a dataFrame 

# type(df["bike_name"])  ## type ---> series

0          TVS Star City Plus Dual Tone 110cc
1                 Royal Enfield Classic 350cc
2                        Triumph Daytona 675R
3                        TVS Apache RTR 180cc
4        Yamaha FZ S V 2.0 150cc-Ltd. Edition
                         ...
32643                  Hero Passion Pro 100cc
32644                    TVS Apache RTR 180cc
32645                Bajaj Avenger Street 220
32646               Hero Super Splendor 125cc
32647                      Bajaj Pulsar 150cc
Name: bike_name, Length: 32648, dtype: object

In [44]:
df.dtypes ## data type of every column 
## object is categorical value

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [45]:
## to fetch multiple columns 
df[["bike_name","price"]]

                                  bike_name     price
0        TVS Star City Plus Dual Tone 110cc   35000.0
1               Royal Enfield Classic 350cc  119900.0
2                      Triumph Daytona 675R  600000.0
3                      TVS Apache RTR 180cc   65000.0
4      Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0
...                                     ...       ...
32643                Hero Passion Pro 100cc   39000.0
32644                  TVS Apache RTR 180cc   30000.0
32645              Bajaj Avenger Street 220   60000.0
32646             Hero Super Splendor 125cc   15600.0
32647                    Bajaj Pulsar 150cc   22000.0

[32648 rows x 2 columns]

#### SLICING AND INDEXING 
##### SLICING ----> GIVE ONLY ROWS

In [46]:
df[0:3]  ### give only row

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph

#### to access both row and column through slicing 
##### iloc and loc 
##### iloc --->  integer location 
##### loc ---> label location

In [ ]:
## iloc 
df.iloc[0:3,0:3]  ## provide sequence of rows and column does not skip the rows or column

                            bike_name     price       city
0  TVS Star City Plus Dual Tone 110cc   35000.0  Ahmedabad
1         Royal Enfield Classic 350cc  119900.0      Delhi
2                Triumph Daytona 675R  600000.0      Delhi

In [ ]:
## loc  --->to access according to the need 
df.loc[0:10,["bike_name","city","owner"]]  ## given he row slicing and to access column we need to write their name in list

                                   bike_name       city         owner
0         TVS Star City Plus Dual Tone 110cc  Ahmedabad   First Owner
1                Royal Enfield Classic 350cc      Delhi   First Owner
2                       Triumph Daytona 675R      Delhi   First Owner
3                       TVS Apache RTR 180cc  Bangalore   First Owner
4       Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore   First Owner
5                           Yamaha FZs 150cc      Delhi   First Owner
6              Honda CB Hornet 160R  ABS DLX      Delhi   First Owner
7        Hero Splendor Plus Self Alloy 100cc      Delhi   First Owner
8          Royal Enfield Thunderbird X 350cc  Bangalore   First Owner
9   Royal Enfield Classic Desert Storm 500cc      Delhi  Second Owner
10                  Yamaha YZF-R15 2.0 150cc  Bangalore   First Owner

In [55]:
# df.max()
print(df["price"].max())
print(df["price"].min())
print(df["price"].mean())
print(df["price"].sum())
print(df["price"].std())
print(df["price"].var())
print(df["price"].median())
print(df["price"].mode())
print(df["price"].cumsum())

1900000.0
4400.0
68295.41763660868
2229708795.0
90718.59520524176
8229863516.012512
43000.0
0    25000.0
Name: price, dtype: float64
0        3.500000e+04
1        1.549000e+05
2        7.549000e+05
3        8.199000e+05
4        8.999000e+05
             ...
32643    2.229581e+09
32644    2.229611e+09
32645    2.229671e+09
32646    2.229687e+09
32647    2.229709e+09
Name: price, Length: 32648, dtype: float64

In [ ]:
df["city"].unique()
df["city"].nunique() ## total number of cities 
df["city"].value_counts() ## count the number of occ. of particular element of a row
df.columns   ## returns the name of all the column

Index(['bike_name', 'price', 'city', 'kms_driven', 'owner', 'age', 'power',
       'brand'],
      dtype='object')

In [77]:
## filtering based on condition 
df["city"] == "Delhi"     ## particular value to fetch 
delhi = df[df["city"] == "Delhi"]   ## fetch in a record 
delhi

## owner == fourth owner 
df[(df["city"] == "Delhi") & (df["owner"] == "Fourth Owner Or More")]

## another method of same
delhi[delhi["owner"]== "Fourth Owner Or More"]

## kms_driven <= 65000
delhi["kms_driven"].value_counts()
delhi[delhi["kms_driven"] <= 65000]

,bike_name,price,city,kms_driven,owner,age,power,brand
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,First Owner,3.0,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
...,...,...,...,...,...,...,...,...
32639,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield
32640,Hero Passion Pro 100cc,32000.0,Delhi,12000.0,First Owner,6.0,100.0,Hero
32641,Bajaj Avenger 220cc,41000.0,Delhi,20245.0,Second Owner,11.0,220.0,Bajaj
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj

In [81]:
## using multiple condition 
## problem statement ---> brand = tvs, age less than 3, price less than 50000
tvs = df[(df["brand"] == "TVS") & (df["age"] <3 ) & (df["price"] < 50000)]
tvs

,bike_name,price,city,kms_driven,owner,age,power,brand
7055,TVS Sport 100cc,46000.0,Faridabad,6222.0,First Owner,2.0,100.0,TVS

In [ ]:
## check the duplicate record in dataset 
df.duplicated().sum()

## to delete duplicates
df.drop_duplicates()
df.duplicated().sum()

## to save changes at particular place
df.drop_duplicates(inplace=True)  ## used in data cleaning 
df.duplicated().sum()

np.int64(0)

In [90]:
## null value in dataset
df.isnull().sum()

## to remove null value
df.dropna(inplace=True)
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [91]:
df.to_csv("Bikes.csv")

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7324 entries, 0 to 9372
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   7324 non-null   object
 1   price       7324 non-null   float64
 2   city        7324 non-null   object
 3   kms_driven  7324 non-null   float64
 4   owner       7324 non-null   object
 5   age         7324 non-null   float64
 6   power       7324 non-null   float64
 7   brand       7324 non-null   object
dtypes: float64(4), object(4)
memory usage: 515.0+ KB

In [93]:
dt2 = {
    "a": [1,2,3,4],
    "b": [5,np.nan,7,np.nan],
    "c": [np.nan,9,np.nan,11]
}
df3 = pd.DataFrame(dt2)
df3

   a    b     c
0  1  5.0   NaN
1  2  NaN   9.0
2  3  7.0   NaN
3  4  NaN  11.0

In [95]:
df3.isnull().sum()
## for particular count 
df3.isnull().sum().sum()

np.int64(4)

In [99]:
df3.dropna()  ## jis row m null value wahi row ko hata dega 

## to change its functionality
df3.dropna(axis=1)   ## 0 ---> row || 1 ---> column

   a
0  1
1  2
2  3
3  4

In [100]:
## fill null value 
## 1. by constant 
df3.fillna(0)

## 2. by mean or median of particular row or column

   a    b     c
0  1  5.0   0.0
1  2  0.0   9.0
2  3  7.0   0.0
3  4  0.0  11.0

In [101]:
df.loc[0:10,["price"]] = np.nan

In [102]:
df.head(11)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,NaN,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,NaN,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,NaN,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,NaN,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,NaN,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
5,Yamaha FZs 150cc,NaN,Delhi,25000.0,First Owner,6.0,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,NaN,Delhi,8200.0,First Owner,3.0,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,NaN,Delhi,12645.0,First Owner,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,NaN,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,NaN,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield
10,Yamaha YZF-R15 2.0 150cc,NaN,Bangalore,20000.0,First Owner,7.0,150.0,Yamaha

In [103]:
## filling with mean and median
df.fillna(df["price"].mean())

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,84821.726378,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,84821.726378,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,84821.726378,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,84821.726378,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,84821.726378,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.000000,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.000000,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.000000,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.000000,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.000000,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj