In [49]:
print("hello world")

hello world

# List

In [50]:
## list-- ordered, mutable , allow duplicate values , heterogenous 
## it is denoted by square brackets

In [51]:
lst = [1,2,"hello" , True, 33.23, "world"]
print(lst)
print(type(lst))

[1, 2, 'hello', True, 33.23, 'world']
<class 'list'>

# List Slicing

In [52]:
lst = [1,2,"hello" , True, 33.23, "world"]
print(lst)
print(lst[0:3])    ## slicing 
print(lst[-6:-2])  ## negative slicing 
print(lst[0:6:2])  ## using skip by 2

[1, 2, 'hello', True, 33.23, 'world']
[1, 2, 'hello']
[1, 2, 'hello', True]
[1, 'hello', 33.23]

# List Indexing

In [53]:
lst = [1,2,"hello" , True, 33.23, "world"]
print(lst)
print(lst[4])          ## indexing 
print(lst[-3])         ## negative indexing

[1, 2, 'hello', True, 33.23, 'world']
33.23
True

### Indexing update

In [54]:
lst = [1,2,"hello" , True, 33.23, "world"]
lst[1] = "Khushi"  ## update in list 
print(lst)

[1, 'Khushi', 'hello', True, 33.23, 'world']

### slicing update

In [55]:
lst = [1,2,"hello" , True, 33.23, "world"]
lst[0:3] = ["a", "b", "c"]    ## slicing update 
print(lst)
lst[0:2] = [10]               ## giving less update value 
print(lst)
lst[0] = [10, "well"]         ## km slicing value h 
print(lst)
lst[-3:-1] = [ 30, 40]
print(lst)

['a', 'b', 'c', True, 33.23, 'world']
[10, 'c', True, 33.23, 'world']
[[10, 'well'], 'c', True, 33.23, 'world']
[[10, 'well'], 'c', 30, 40, 'world']

### Nested list

In [56]:
lst = [10,20,[30,40,[50,60],70],80]
lst[2][2][1] = 6000
print(lst)

[10, 20, [30, 40, [50, 6000], 70], 80]

### methods of list

In [80]:
lst = ["red", "blue", "green", "yellow","black", "red"]
# lst.count("red")
# lst.index("red")
# lst2 =lst.copy()
# lst2
# lst.clear()   ## clear all elements but list is present 
# del lst     ## delete full list 
# lst.insert(2, "white ")  # insert value at particular position 
# lst.append("white")
#lst.extend(["white", "grey", "pink"])
#lst.remove("black")
# lst.pop()            ## delete last element always when value is not given 
# lst.pop(1)
#lst.reverse()
#lst.sort()
#lst.sort(reverse= True)

## reverse list using slicing 
rev = lst[::-1]
rev

['red', 'black', 'yellow', 'green', 'blue', 'red']